/*generic page styling (header and footer)*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(38, 38, 38);
    color: white;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0 10px 30px;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: black;
    box-shadow: 0px 5px 10px 0px rgba(255, 255, 255); /*horizontal shadow, vertical shadow, blur radius, spread radius, color and transparency*/
}

img#logo {
    height: 70px;
}

/*navigation bar*/
#navigation-bar {
    display: flex;
    flex-direction: row;
    gap: 40px;
    position: absolute;
    right: 0;
    padding-right: 30px;
}

#navigation-bar ul {
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/*page navigation*/
#nav {
    display: flex;
    padding: 0;
}

#nav li {
    position: relative;
}

#nav li a {
    display: block;
    color: white;
    padding: 15px 20px;
    text-align: center;
    font-size: 1.5em;
}

#nav li a:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255)
}

/*subnavigation*/
ul#subnav {
    display: none;
}

#subnav {
    display: none;
    position: absolute;
    top: 100%;
    background-color: black;
    text-align: left;
    z-index: 100;
}

#subnav li {
    border-top: 1px solid white;
}

#subnav a {
    display: block;
    padding: 10px 15px;
    text-align: left;
}

#subnav li a {
    font-size: 1em;
}

#subnav a:hover {
    background-color: white;
    color: black;
}

/*subnav hover*/
#nav li:hover #subnav {
    display: block;
}

/*section jump*/
main section:target {
    scroll-margin-top: 120px;
}

/*search bar*/
#navigation-bar input {
    width: 250px;
}

input {
    border: 1px solid white;
}

/*login button*/
#navigation-bar button {
    height: 30px;
    font-size: 1em;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255);
}

button a {
    color: black;
}

a {
    color: white;
    text-decoration: none;
}

#account {
    margin: auto;
}

/*main {
    height: 200px;
}*/

/*footer*/
footer {
    text-align: center;
    padding: 10px;
    box-shadow: 0px -5px 10px 1px rgb(255, 255, 255);
}

footer a {
    color: red;
}

/*homepage section content*/
#games {
    padding: 30px 20px 30px 20px;
}

section {
    padding: 20px;
}

.genre h2 {
    width: 250px;
    padding: 5px 0 5px 0;
    text-align: center;
    margin-top: 0;
}

.scroll-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: visible;
}

.game-layout {
    display: flex;
    scroll-behavior: smooth;
    padding: 20px 10px;
    margin: 0 5px 0 5px;
    overflow-x: auto;
}

.game {
    border: 1px solid white;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease, z-index 0.3s ease;
    margin: 0 15px 0 15px;
    overflow: hidden;
}

.game:hover {
    transform: scale(1.05);
}

.game:hover img {
  filter: blur(10px);
}

.game:hover .game-info {
    opacity: 1;
}

.game img{
    width: 300px;
    height: 300px;
}

h3, p {
    margin: 10px;
    padding: 0;
}

.game-info {
    color: white;
    padding: 10px 15px 200px 15px;
    opacity: 0;
    bottom: 0px;
    position: absolute;
    transition: all 300ms ease-in-out;
}

#trending h2 {
    background-color: rgb(123, 123, 123);
}

#trending .game:hover {
    border: 1px solid rgb(123, 123, 123);
    box-shadow: 0px 0px 15px 0px rgb(123, 123, 123);
}

#action h2 {
    background-color: rgb(255, 85, 0);
}

#action .game:hover {
    border: 1px solid rgb(255, 85, 0);
    box-shadow: 0px 0px 15px 0px rgb(255, 85, 0);
}

#horror h2 {
    background-color: rgb(255, 0, 0);
}

#horror .game:hover {
    border: 1px solid rgb(255, 0, 0);
    box-shadow: 0px 0px 15px 0px rgb(255, 0, 0);
}

#strategy h2 {
    background-color: rgb(0, 0, 165);
}

#strategy .game:hover {
    border: 1px solid rgb(0, 0, 165);
    box-shadow: 0px 0px 15px 0px rgb(0, 0, 165);
}

#adventure h2 {
    background-color: rgb(0, 128, 0);
}

#adventure .game:hover {
    border: 1px solid rgb(0, 128, 0);
    box-shadow: 0px 0px 15px 0px rgb(0, 128, 0);
}

#simulation h2 {
    background-color: rgb(120, 0, 0);
}

#simulation .game:hover {
    border: 1px solid rgb(120, 0, 0);
    box-shadow: 0px 0px 15px 0px rgb(120, 0, 0);
}

#rpg h2 {
    background-color: rgb(102, 0, 175);
}

#rpg .game:hover {
    border: 1px solid rgb(102, 0, 175);
    box-shadow: 0px 0px 15px 0px rgb(102, 0, 175);
}

#recreation h2 {
    background-color: rgb(0, 0, 255);
}

#recreation .game:hover {
    border: 1px solid rgb(0, 0, 255);
    box-shadow: 0px 0px 15px 0px rgb(0, 0, 255);
}

/*homepage*/
#home-games{
    display:grid;
    grid-template-columns: repeat(5, 400px);
    grid-template-rows: repeat(2, 400px);
    padding: 50px 0 50px 50px;
    gap: 70px;
}

/*login/registration page*/
#register-page {
    display: flex;
}

#sign-up {
    display: block;
    width: 35%;
    justify-items: center;
    float: left;
    padding-top: 50px;
}

#register {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}

input {
    height: 30px;
    width: 350px;
    margin: auto;
}

#register button {
    height: 30px;
    width: 100px;
    margin: auto;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

#login {
    font-weight: bold;
}

/*image grid*/
#img-grid {
    width: 600px;
    height: 600px;
    float: right;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    max-width: 600px;
}
  
.grid {
    border: 1px solid orange;
    position: relative;
    overflow: hidden;
    padding-top: 100%; /* Maintain 1:1 aspect ratio */
    width: 300px;
}
  
.grid img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
  
.grid img.active {
    opacity: 1;
    z-index: 1;
}

/*account page*/

/*trending page*/