/*generic page styling (header and footer)*/
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    padding: 0 0 0 30px;
    position: sticky;
    box-shadow: 0px 5px 10px 1px rgba(255, 255, 255); /*horizontal shadow, vertical shadow, blur radius, spread radius, color and transparency*/
}

h1 {
    text-shadow: 0px 2px 20px rgb(255, 255, 255) /*horizontal shadow, vertical shadow, blur radius*/
}

#navigation {
    display: flex;
    flex-direction: row;
    gap: 80px;
    position: absolute;
    right: 0;
    padding-right: 30px;
}

nav ul {
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

li {
    display: inline;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255)
}

#navigation input {
    width: 250px;
}

input {
    border: 1px solid white;
}

#navigation button {
    height: 30px;
    font-size: 1em;
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255);
}

button a {
    color: black;
}

a {
    color: white;
    text-decoration: none;
}

main {
    height: 200px;
}

footer {
    text-align: center;
    padding: 10px;
    box-shadow: 0px -5px 10px 1px rgb(255, 255, 255);
}

footer a {
    color: red;
}

/*login/registration page*/
#register-page {
    display: flex;
}

#sign-up {
    display: block;
    width: 35%;
    justify-items: center;
    float: left;
    padding-top: 50px;
}

#register {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}

input {
    height: 30px;
    width: 350px;
    margin: auto;
}

#register button {
    height: 30px;
    width: 100px;
    margin: auto;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

#login {
    font-weight: bold;
}

/*image grid*/
#img-grid {
    width: 600px;
    height: 600px;
    float: right;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    max-width: 600px;
}
  
.grid {
    border: 1px solid orange;
    position: relative;
    overflow: hidden;
    padding-top: 100%; /* Maintain 1:1 aspect ratio */
    width: 300px;
}
  
.grid img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
  
.grid img.active {
    opacity: 1;
    z-index: 1;
}

/*account page*/


/*homepage*/


/*categories page*/
#games {
    padding: 30px;
}

#genre {
    width: 150px;
    height: 30px;
    text-align: center;
}

.action {
    background-color: blue;
}

.horror {
    background-color: red;
}

.strategy {
    background-color: green;
}

/*trending page*/